.tuning-packages-header {
  text-align: center;
  background-color: #e46b00;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 2rem;
  top: 8rem;
  z-index: 5;
}

#tuning-packages > p.description {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 60rem;
}

#tuning-packages .package {
  display: grid;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background: white;
  color: #3891A6;
  padding-bottom: 2rem;
  outline: #3891A6 solid 2px;
  outline-offset: -2px;

  grid-gap: 1rem;
}

#rentals-packages .package.with-image {
  display: unset;
  padding: 0;
}

#rentals-packages .package.with-image > div.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#rentals-packages .package.with-image > div.content > div.text {
  min-width: 15rem;
  margin: 5rem 3rem 3rem 3rem;
  color: #2a2a2a;
  letter-spacing: 1px;
  flex: 2;
}

#rentals-packages .package.with-image > div.content > img {
  flex: 2
}

#tuning-packages .package > h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  background: #3891A6;
  color: white;

  grid-row-start: 1;
  grid-row-end: 2;
}


#rentals-packages .package > span.price {
  font-size: 600%;
  margin-left: -1.5rem;
  margin-bottom: 1rem;
  text-align: center;

  grid-row-start: 2;
  grid-row-end: 3;
}

span.price > span.little-money-sign {
  display: inline-block;
  width: 1.5rem;
  position: relative;
  top: -27%;
  font-size: 50%;
}

#rentals-packages .package > button {
  background: transparent;
  border: #3891A6 solid 2px;
  padding: 0.65rem 3rem;
  margin: 0 auto;
  color: #3891A6;
  font-weight: 600;
  text-transform: uppercase;
  transition: all linear 0.0625s;
  width: 80%;
  max-width: 25rem;

  grid-row-start: 3;
  grid-row-end: 4;
}

#rentals-packages .package > button:hover {
  background: #3891A6;
  border: #3891A6 solid 2px;
  padding: 0.65rem 3rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: all linear 0.0625s;
}

#tuning-packages > .pure-g {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#tuning-packages .package.add-ons {
  align-items: flex-start;
}

#tuning-packages .package.add-ons > h2 {
  text-align: left;
  width: 95%;
  padding-left: 5%;
}

#tuning-packages .package.add-ons > table {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
}

#tuning-packages .package.add-ons > table > tbody > tr {
  border-bottom: #3891A6 solid 1px;
}

#tuning-packages .package.add-ons > table > tbody > tr:last-child {
  border-bottom: none;
}

#tuning-packages .package.add-ons > table > tbody > tr > td {
  border: none;
  padding: 1rem;
}

#tuning-packages .package.add-ons > table > tbody > tr > td:first-child {
  font-size: 150%;
  font-weight: 600;
}